{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="google-site-verification" content="K96qdFZhiN6hWl1hx4JsfAkT2yKWXtfJIV5pClyQovo"/>
    <meta property="og:url" content="http://www.enricomarcolungo.it/about-me/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Enrico Marcolungo Photographer"/>
    <meta property="og:description" content="About me"/>
    <meta property="og:image" content="{% static "images/logo.png" %}"/>
    <title>Enrico Marcolungo @ About Me </title>
{% endblock meta %}

{% block container %}


    <!-- photo of categories -->

    <div class="row black">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="image-test"
                         src="{% static "images/jube1.jpg" %}">
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <!--  cit -->

            <div class="row">

                <div class="row">
                    <h5>Chi sono</h5>

                    <p>
                        orem Ipsum is simply dummy text of the printing and typesetting industry. <br> Lorem Ipsum has
                        been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.<br> It has survived not only five
                        centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. <br><br>It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>


                </div>

            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="image-test"
                         src="{% static "images/background2.jpg" %}">
                </div>
            </div>
        </div>


    </div>


{% endblock container %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>

{% endblock %}