{% load staticfiles %}
{% load rules %}
{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <meta name="google-site-verification" content="K96qdFZhiN6hWl1hx4JsfAkT2yKWXtfJIV5pClyQovo"/>
        <meta property="og:url" content="http://www.enricomarcolungo.it"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Enrico Marcolungo Photographer"/>
        <meta property="og:description" content="Home"/>
        <meta property="og:image" content="{% static "images/logo.png" %}"/>
    {% endblock meta %}

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static "bower_components/materialize/dist/css/materialize.css" %}" type="text/css"
              rel="stylesheet" media="screen,projection"/>
        <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
            font-weight: 100;
            color: #eeeeee !important;
        }
    </style>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "Questo sito utilizza i cookies. Utilizzando il nostro sito web l'utente dichiara di accettare e acconsentire all’utilizzo dei cookies in conformità con i termini di uso dei cookies espressi in questo ",
            "dismiss": "Acconsento",
            "learnMore": "documento",
            "link": "http://www.iubenda.com/privacy-policy/7988959",
            "theme": "dark-floating"
        };
    </script>

    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

</head>

<body class="black white-text">
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1645425342436801',
            xfbml: true,
            version: 'v2.8'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/it_IT/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{% block top_menu %}
    {% include "components/menu_top.html" with menu=menu %}
{% endblock top_menu %}

{% block container %}

    {% include "components/cit.html" with cit=object.cit %}

    <div class="row grid black">
        <div class="grid-sizer"></div>

        {% for photo in object.photos.all %}
            <div class="grid-item">
                <img src="{{ MEDIA_URL }}{{ photo.image }}">
                <span class="masonry-image-caption">{{ photo.label }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock container %}

{% block footer %}
    <div class="col s12">
        <footer class="page-footer black white-text">
            <div class="footer-copyright">
                <div class="container">
                    <div><p class="center-align">P.I. 04063900239 | Tel. <a style="color: white"
                                                                            href="tel:00393478370514">+393478370514</a>
                        | Email. <a style="color:white;"
                                    href="mailto:info@enricomarcolungo.it?Subject=Richiesta%20informazioni"
                                    target="_top">info@enricomarcolungo.it</a> | Facebook. <a
                                href="https://www.facebook.com/enrico.marcolungo.5" style="color: white">
                            enrico.marcolungo.5</a>
                        | Instagram. <a
                                href="https://www.instagram.com/enrico_marcolungo/" style="color: white">
                            enrico_marcolungo</a>
                    </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="center-align">
            <a href="//www.iubenda.com/privacy-policy/7988959" class="iubenda-black iubenda-embed"
               title="Privacy Policy">Privacy Policy</a>
            <script type="text/javascript">(function (w, d) {
                var loader = function () {
                    var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                    s.src = "//cdn.iubenda.com/iubenda.js";
                    tag.parentNode.insertBefore(s, tag);
                };
                if (w.addEventListener) {
                    w.addEventListener("load", loader, false);
                } else if (w.attachEvent) {
                    w.attachEvent("onload", loader);
                } else {
                    w.onload = loader;
                }
            })(window, document);</script>
        </div>

    </div>

{% endblock %}

</div>
</body>

{% block javascripts %}
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bower_components/materialize/dist/js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static "js/velocity.min.js" %}"></script>

    <script src="{% static "bower_components/masonry/dist/masonry.pkgd.js" %}"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86526948-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock javascripts %}
</html>