{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
    <div class="slider fullscreen">
        <ul class="slides">
            {% for photo in object.photos.all %}
                <li>
                    <img src="{{ MEDIA_URL }}{{ photo.image }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>{{ photo.text }}</h3>
                        <h5 class="light grey-text text-lighten-3">{{ photo.caption }}</h5>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider').slider({full_width: true});
            $("nav").hide();


        });
    </script>
{% endblock %}