{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="google-site-verification" content="K96qdFZhiN6hWl1hx4JsfAkT2yKWXtfJIV5pClyQovo"/>
    <meta property="og:url" content="http://www.enricomarcolungo.it/{{ category }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Enrico Marcolungo Photographer"/>
    <meta property="og:description" content="{{ category }} photos"/>
    <meta property="og:image" content="{% static "images/jubelog.png" %}"/>
    <title>Enrico Marcolungo @ {{ category }} </title>
{% endblock meta %}

{% block container %}


    <!-- photo of categories -->
    <div class="row black">
        <div class="col s12 m3">

            <h5 class="center-align">{{ category }}</h5>
            <p class="center-align">

                {% if category.description %}
                    {{ category.description|safe }}
                {% endif %}
            </p>

            <div class="row">
                <div class="col s1"></div>
                <div class="col s11">
                    <div class="fb-like" data-href="http://www.enricomarcolungo.it" data-layout="standard"
                         data-action="like"
                         data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h5 class="center-align">Album recenti</h5>

                    {% for album in albums %}
                        <div class="card" style="width: 50px;float: left">
                            <div class="card-image">
                                <a href="{% url "album_detail" album.pk %}">
                                <img class="image-test"
                                     src="{{ MEDIA_URL }}{{ album.cover }}">
                                    </a>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>

            <div class="row">
                <div class="col s12">
                    <h5 class="center-align">Backstage</h5>

                    <p class="center-align">
                        {{ category.video|safe }}
                    </p>


                </div>

            </div>


        </div>

        <div class="col s12 m7">
            {% for photo in object.photos.all %}
                <div class="card">
                    <div class="card-image">
                        <img class="image-test"
                             src="{{ MEDIA_URL }}{{ photo.image }}">

                        <script type="text/javascript">
                            var urlImg = "http://www.enricomarcolungo.it{{ MEDIA_URL }}{{ photo.image }}";
                        </script>

                    </div>

                </div>
                <a href="#" onclick="publishOnFB()" style="position: absolute;margin-top: -40px;margin-left: 5px;"><i
                        class="material-icons white-text" title="Pubblica su Facebook">thumb_up</i></a>
            {% endfor %}
        </div>

        <div class="col s12 m2">
            <!--  cit -->

            <div class="row">

                <form class="col s12" action="{% url "contact" %}" method="post">

                    {% csrf_token %}
                    <div class="row">
                        <h5>Richiedi informazioni</h5>

                        <p>
                            {{ category.info|safe }}
                        </p>
                        <div class="input-field">
                            <input id="id_first_name" name="first_name" type="text" class="validate">
                            <label for="id_first_name">Nome</label>
                        </div>
                        <div class="input-field">
                            <input id="id_last_name" name="last_name" type="text" class="validate">
                            <label for="id_last_name">Cognome</label>
                        </div>
                        <div class="input-field">
                            <input id="id_telephone" type="tel" class="validate" name="telephone">
                            <label for="id_telephone">Telefono</label>
                        </div>
                        <div class="input-field">
                            <input id="id_email" type="email" class="validate" name="email">
                            <label for="id_email" data-error="wrong" data-success="right">Email</label>
                        </div>
                        <div class="input-field">
                            <textarea id="id_message" class="materialize-textarea" name="message"></textarea>
                            <label for="id_message">Messaggio</label>
                        </div>

                        <div class="col s12">

                            <p class="white-text">
                                <input type="checkbox" id="accept_privacy"/>
                                <label for="accept_privacy" class="white-text"
                                       style="font-size: 12px;overflow: scroll;height: auto;">
                                    Autorizzo il trattamento dei miei dati personali, ai sensi del D.lgs.196 del 30
                                    giugno 2003 (visualizza <a target="_blank"
                                                               href="http://www.iubenda.com/privacy-policy/7988959">l'informativa
                                    completa</a>).
                                </label>

                            </p>

                        </div>

                        <button class="btn waves-effect waves-light right" type="submit" name="action" id="send-contact"
                                disabled>Invia
                            <i class="material-icons right">send</i>
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>


    {% include "components/cit.html" with cit=object.cit %}

{% endblock container %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        function publishOnFB() {

            FB.login(function () {
                // Note: The call will only work if you accept the permission request
                FB.api('/me/photos', 'post', {
                    "url": urlImg,
                    "privacy": {
                        "value": 'SELF'
                    }
                }, function (response) {
                    console.log(response);
                    if (response && !response.error) {
                    }
                });
            }, {scope: 'publish_actions'});


        }


        $(document).ready(function () {

            $("#accept_privacy").change(function () {
                if ($(this)[0].checked == true) {
                    $('#send-contact').removeAttr('disabled');
                } else {
                    $('#send-contact').attr('disabled', 'disabled');
                }
            })

        });

    </script>

{% endblock %}