{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="google-site-verification" content="K96qdFZhiN6hWl1hx4JsfAkT2yKWXtfJIV5pClyQovo"/>
    <meta property="og:url" content="http://www.enricomarcolungo.it"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Enrico Marcolungo Photographer"/>
    <meta property="og:description" content="Home"/>
    <meta property="og:image" content="{% static "images/logo.png" %}"/>
    <title>Enrico Marcolungo - Photographer </title>
{% endblock meta %}

{% block container %}

    <!-- photo of categories -->
    <div class="row grid black">
        <div class="grid-sizer"></div>

        {% for category in categories %}
            <div class="grid-item">
                <a href="{% url "category_detail" label=category.label|lower %}"><img
                        src="{{ MEDIA_URL }}{{ category.cover }}"></a>
                <span class="masonry-image-caption">{{ category.label }}</span>
            </div>
        {% endfor %}

    </div>

    <!--  cit -->
    {% include "components/cit.html" with cit=object.cit %}
{% endblock container %}



{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript">

    </script>
{% endblock %}