{% load staticfiles %}
<div class="row">
    <div>
        <h6 class="center-align">{{ cit }}(Cit.)</h6>
    </div>
    <div class="center-align">
        <img width="20%" class="image-test"
             src="{% static "images/background2.jpg" %}">
    </div>
</div>