{% load static %}
<!-- {{ categories }} -->
<!-- {{ logo }} -->

<div class="navbar-fixed">
    <nav class="black">
        <ul id="slide-out" class="side-nav">
            <li>
                <img style="padding-left: 20px;padding-top: 10px" src="{% static "images/butterfly.png" %}">
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/about-me/">Chi sono</a></li>

            {% for link in menu %}
                <li><a href="{% url "category_detail" label=link.label %}">{{ link.label }}</a></li>
            {% endfor %}

        </ul>

        <div class="row">
            <div class="col s3">
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large large-menu"><i
                        class="material-icons white-text">menu</i></a>

            </div>
            <div class="col s6">
                <div class="logo-wrapper"><a href="/"><img class="logo__img"
                                                           src="{% static "images/logo.png" %}"></a></div>
            </div>

            <div class="col s3">
                <a
                        href="https://www.instagram.com/enrico_marcolungo/"> <img
                        class="logo__instagram"
                        src="{% static "images/instagram-icon.png" %}"></a>
                <a
                        href="https://www.facebook.com/enrico.marcolungo.5"> <img
                        class="logo__fb" src="{% static "images/facebook.png" %}"></a>

            </div>


        </div>
    </nav>
</div>
