{% load static %}
{% load cropping %}
<img src="">

<div class="row sliderhome">
    <div class="col s12 slider">
        <ul class="slides">
            {% for photo in slides %}
                <li>
                    <img src="{% cropped_thumbnail photo "cropping" scale=1.0 %}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>{{ photo.text }}</h3>
                        <h5 class="light grey-text text-lighten-3">{{ photo.caption }}</h5>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
