/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 180px;
    line-height: 56px;
}

.logo__img {
    width: 420px;
}

.logo__instagram {
    width: 45px;
    float: right;
    padding-top: 2.3rem;
}

.logo__fb {
    width: 25px;
    float: right;
    padding-top: 3rem
}

.side-nav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    background: black;
    /* color: grey !important; */

}

.side-nav a {
    color: grey !important;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0px 32px;
}

.large-menu {
    padding-top: 1em;
    font-size: 2rem;
}

.nav-wrapper {
    padding-top: 60px;
    width: 50%;
    margin: 0 auto;
}

.logo-wrapper {
    padding-top: 10px;
    width: 400px;
    margin: 0 auto;
}

nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 1.6rem;
    color: grey;
    font-size: 1em;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.sliderhome {
    min-height: 280px;
}

.slider .indicators .indicator-item.active {
    background-color: #7b7b7b;
}

* {
    box-sizing: border-box;
}

/* force scrollbar */
html {
    overflow-y: scroll;
}

h5 {
    font-size: 1.3rem;
    line-height: 110%;
    /* margin: 0.82rem 0 0.656rem 0; */
}

/* ---- grid ---- */

.grid {
    background: #DDD;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

blockquote {
    border: 0px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    font-size: 1.0rem;
}

.masonry-image-caption {
    margin-top: -1.5em;
    margin-left: 20px;
    position: absolute;
    font-size: 1.92rem;
}

.menu {
    padding-top: 20px;
}

.photo-contact-us {
    padding: 5px;
    background: white;
}

.contact-us {
    padding-left: 10px;
}

.slider .indicators {
    display: none;
}

.categories-text-hover {
    transform: translate(70%, -278%);
    font-size: 2.6rem;
    font-weight: bold;
}

.social {
    padding-left: 20px;
}

/* forms */

textarea.materialize-textarea {
    overflow-y: hidden;
    /* prevents scroll bar flash */
    padding: .7rem 0 0.6rem 0;
    /* prevents text jump on Enter keypress */
    resize: none;
    min-height: 1rem;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    /* margin: 0 0 20px 0; */
    padding: 0;
    display: block;
    margin: 10px;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    margin: 10px;

}

.btn:hover, .btn-large:hover {
    background: transparent;
    opacity: 0.4;
}

.card .card-image img {
    display: block;
    /* border-radius: 2px 2px 0 0; */
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
}

.card .card-content {
    padding: 0px;
    /* border-radius: 0 0 2px 2px; */
    background: #e0e0e0;
    border: 1px solid black;
}

.card .card-title {
    font-size: 14px;
    font-weight: 300;
}

.slider .slides {
    background-color: #9e9e9e;
    margin: 0;
    height: 540px !important;
}

footer.page-footer {
    margin-top: 20px;
    /* padding-top: 20px; */
    background-color: #ee6e73;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

}

@media only screen and (min-width: 993px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }

    .masonry-image-caption {
        margin-top: -1.5em;
        margin-left: 20px;
        position: absolute;
        font-size: 1.0rem;
    }

    nav {
        color: #fff;
        background-color: #ee6e73;
        width: 100%;
        height: 70px;
        margin-top: -15px;
    }

    .logo__img {
        width: 280px;
        margin-left: -70px;
    }

    .logo__instagram {
        width: 28px;
        float: right;
        padding-top: 2.5rem;
    }

    .logo__fb {
        width: 15px;
        float: right;
        padding-top: 3rem
    }

    .large-menu {
        padding-top: 0.7em;
        font-size: 2rem;
    }

}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 110px;
        line-height: 64px;
    }

    .navbar-fixed {
        height: 110px;
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    width: 50%;
    margin: auto;
    overflow-y: hidden;
    border-radius: 2px;
    will-change: top, opacity;
}

.fbpublish{
    margin-top: -70px;
    position: absolute;
    margin-left: 10px;
}

i.medium{
    font-size: 3em;
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}